.header{
    display: grid;
    grid-template-rows: repeat(2, 60px);
    grid-template-columns: 100%;
    text-align: center;

    .faixaPreta{
        font-size: 16px;
        font-weight: 500;
        background: #181818;
        color: #F9F9F9;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .faixaBranca{
        font-size: 24px;
        font-weight: 600;
        background: #F9F9F9;
        color: #181818;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

main{
    .bannerInicio{
        background-image: url('/images/backgroung-banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 380px;

        .elementsBanner{
            background-color: rgba(0, 0, 0, 0.63);
            height: 100%;
            color: #FFF;
            padding: 120px 0 120px 100px;

            h2{
                margin: 0;
                font-weight: 700;
                font-family: 32px;
                line-height: 39px;
            }

            p{
                font-weight: 600;
                font-family: 18px;
                max-width: 460px;
                line-height: 35px;
                margin: 20px 0 0;
            }
        }

    }

    .container{
        max-width: 1240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px auto 100px;

        h2{
            font-size: 32px;
            font-weight: 600;
            color: #181818;

        }

        p{
            color: #474747;
            font-size: 18px;
            font-weight: 500;
            margin: 0;
        }


        .cardsJordan{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            row-gap: 40px;
            column-gap: 12px;
            margin: 60px auto 0;
        }
    }
}

.footer{
    height: 60px;
    background: #181818;
    color: #F9F9F9;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}