.cardJordan{
    width: 300px;
    height: 302px;
    background: #EBE9EA;
    display: flex;


    img{
        width: 250px;
        height: 150px;
        align-self: center;
        justify-self: center;
    }
}